 /* #5bc0de, border 2e282a, text 273043  */

h1 {
    color: #273043;
}

body {
    background-color: #82cac8;
}

.card-img-top:hover {
    cursor: pointer;
    cursor: hand;
}

.card:hover {
    background-color: #a7c7c6;
}

.card {
    float: left;
    background-color: transparent;
    display: inline-block;
}

#add-10-more {
    position: relative;
    left: 41%;
}